<div class="logs-view">
  <div class="row-fluid">
    <div class="selectblock "></div>
    <div class="logblock">
      <div id="loader"><img src='/images/ajax-loader.gif' /><p>One Sec...</p></div>
      <div id="table-block"></div>
    </div>
  </div>
</div>


<script type="text/template" id="tmplt-LogsSelect">
  <div class="row-fluid">
    <div class="form-group">
    <label for='log-select' class="control-label">Log Select</label>
      <select id="log-select" class="form-control">
      <%% collection.each(function(model) { %>
        <option value="<%%= model.get('filename') %>" >
        <%%= model.get('filename') %></option>
      <%% }) %>
      </select>
    </div>
  </div>

  <div class="row-fluid">
    <div class="form-group">
      <label for="log-filter" class="control-label">Filter</label>
      <input id="log-filter" class="form-control col-md-4" value="" placeholder="Filter String" />
        <p id="last-line-count"></p>
    </div>
  </div>

  <div class="row-fluid">
    <div class="form-group">
      <div class="checkbox">
        <label>
          <input type="checkbox" id="pause-refresh" value="true"> Pause Refresh
        </label>
      </div>
    </div>
  </div>
</script>

<script type="text/template" id="tmplt-LogLinePrepend">
  <%% var currentLine = LR.lastLineCount + 1 %>
  <%% var lineState = '' %>
    <table class="table"><tbody id="log-table">
    <%% _.each(log, function(line) { %>
      <%% var lineFormatted = $.trim(line['line']) %>
      <%% lineFormatted = LR.escapeHtml(lineFormatted) %>
      <%% if ((LR.lastLineCount - LR.newLineCount) < currentLine - 1) {
            lineState = 'success'
          } else {
            lineState = ''
          }
      %>
      <%% currentLine-- %>
      <tr class="<%%=lineState %>">
        <td><%%= currentLine %></td>
        <td><pre><%%= lineFormatted %></pre></td>
      </tr>
    <%% }) %>
    </tbody></table>
</script>



