<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Log Reader</title>
</script>
</head>

<body>
  <header>
    <h1>Log Reader</h1>
  </header>
  <%= yield %>
</body>

</html>


